/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* header */
header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.org{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: #02381E;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    text-decoration: none;
}
nav{
    display: flex;
    gap: 30px;
    align-items: center;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background: #02381E;
    color: #E6FAC7;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    border: none;
}
header a:hover{
    color: #00140a;
    transform: scale(1.0);
    transition: 0.8s;
}
nav button:hover{
    box-shadow: 0px 0px 10px #02381E;
    transform: scale(1.0);
    transition: 0.8s;
}

/* section: principal */
.principal .org-principal{
    background-image: url(../img/Group\ 5.png);
    width: 100%;
    height: 997px;
    flex-shrink: 0;
}
h1{
    width: 640px;
    color: #02381E;
    text-align: center;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 125% */    
}
.principal p{
    color: #02381E;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    width: 740px;
    height: 38px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10%;
}
.org-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #02381E;
}
.principal img {
    margin-top: -400px;
}

/* section: beneficios */
.beneficios{
    background-color: #02381E;
    width: 100%;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beneficios .org{
    flex-direction: column;
    align-items: center;
}
h2{
    color: #FFF7CF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 104.167% */
    width: 640px;
}
h3{
    width: 230px;
    color: #02381E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.cards{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}
.card{
    width: 307px;
    height: 483px;
    border-radius: 40px;
    background: #FFF7CF;
    color: #02381E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card p{
    width: 230px;
    color: #435B1D;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* sobre */
.sobre h1{
    color: #02381E;
}
.sobre p{
    color: #02381E;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 450px;
}