{% extends 'base.html' %}

{% block content %}
    <section class="login">
        <h2>Entrar na Plataforma</h2>
        <form action="/verificarlogin" method="POST">
            <label for="usuario">Usuário ou Email:</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <input type="submit" value="Entrar">
        </form>
        <p>Não tem uma conta? <a href="/decidir_cadastro">Cadastre-se</a></p>
    </section>
{% endblock %}
