<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viveiro IFRN-ZN</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sobre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-login-cadastro">
        <div class="org">
            <a href="" class="link-header">
                <img src="../static/img/seta-direita 1.png" alt="seta">
                Voltar ao site
            </a>
            <img src="../static/img/2-removebg-preview 2.png" alt="logo Onda Verde" class="logo-header">
        </div><!--flex-->
    </header>
    <main>
        <section class="sobre">
            <div class="org">
                <div class="text-sobre">
                    <h2>Onde adotar mudas?</h2>
                    <p>No <span>Viveiro do IFRN Campus Natal Zona Norte</span>, acontece um importante trabalho de preservação ambiental e incentivo ao plantio de árvores. Todas as quartas-feiras, você pode participar da doação de mudas na área de convivência do campus, promovendo a arborização e o cuidado com o meio ambiente.
                    <br><br>    
                    📍 Endereço: Rua Brusque, 2926 – Potengi, Natal
                    <br><br>
                    Aproveite a oportunidade para levar uma muda para casa e contribuir para um planeta mais verde! 🌿</p>
                </div>
                <img src="../static/img/Imagem do WhatsApp de 2024-11-04 à(s) 21.49.34_49100f34.png" alt="">
            </div>
        </section>
        <section class="justificativa">
            <div class="org">
                <img src="../static/img/Imagem do WhatsApp de 2024-11-04 à(s) 22.09.40_41868153.png" alt="">
                <div class="text-sobre">
                    <h2>Conheça o Viveiro IFRN-ZN</h2>
                    <p>A crescente degradação das áreas verdes afeta diretamente a qualidade de vida dos habitantes, comprometendo a sustentabilidade urbana e o bem-estar da população. <br>
                    Essas áreas, essenciais para o clima, lazer e biodiversidade, muitas vezes carecem de manutenção adequada. O projeto Onda Verde foi motivado pela necessidade de criar uma solução que envolva a comunidade na preservação ambiental. Ao permitir que cidadãos, ONGs e empresas adotem e cuidem de espaços verdes através de uma plataforma digital, o projeto visa revitalizar esses ambientes, fortalecendo a responsabilidade social e ambiental na cidade.</p>
                </div>
            </div>
        </section>
        <section class="galeria">
            <h2>Galeria de fotos</h2>
            <div class="galery">
                <div class="linha">
                    <img src="../static/img/img 1.jpeg" alt="">
                    <img src="../static/img/img 2.jpeg" alt="">
                    <img src="../static/img/img 3.jpeg" alt="">
                    <img src="../static/img/img 4.jpeg" alt="">
                </div>
                <div class="linha">
                    <img src="../static/img/img 5.jpeg" alt="">
                    <img src="../static/img/img 6.jpeg" alt="">
                    <img src="../static/img/img 7.jpeg" alt="">
                    <img src="../static/img/img 8.jpeg" alt="">
                </div>
                <div class="linha">
                    <img src="../static/img/img 9.jpeg" alt="">
                    <img src="../static/img/img 10.jpeg" alt="">
                    <img src="../static/img/img 11.jpeg" alt="">
                    <img src="../static/img/img 12.jpeg" alt="">
                </div>
            </div>
        </section>
    </main>
</body>
</html>