<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Pessoa Jurídica</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/login-cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="body-login-cadastro">
    <header class="header-login-cadastro">
        <div class="org">
            <a href="/" class="link-header">
                <img src="../static/img/seta-direita 1.png" alt="seta">
                Voltar ao site
            </a>
            <img src="../static/img/2-removebg-preview 2.png" alt="logo Onda Verde" class="logo-header">
        </div><!--flex-->
    </header>
    <main class="main-cadastro">
       <figure>
       </figure>
       <div class="form">
        <h1>
            Junte-se a onda verde, faça seu cadastro!
        </h1>
        <form action="/cadastro_juridica" method="POST"> <!-- Alterado para a rota de cadastro -->
            <!-- campo para Nome da Organização -->
            <div class="form-group">
              <label for="nome-org">Nome da sua organização:</label>
              <input type="text" id="nome-org" name="nome-org" placeholder="Digite o nome da sua organização" required />
            </div>

            <div class="form-group">
              <label for="email-org">E-mail:</label>
              <input type="text" id="email-org" name="email-org" placeholder="Digite o e-mail da sua organização" required />
            </div>

            <div class="form-group">
              <label for="cnpj">CNPJ:</label>
              <input type="number" id="cnpj" name="cnpj" placeholder="Digite o CNPJ" required />
            </div>

            <div class="form-group">
              <label for="area-atu">Área de Atuação:</label>
              <input type="text" id="area-atu" name="area-atu" placeholder="Digite a área de atuação da sua organização" required />
            </div>

            <div class="form-group">
              <label for="telefone">Telefone:</label>
              <input type="tel" id="telefone-org" name="telefone" placeholder="Digite o telefone da sua organização" required />
            </div>
            
            <!-- campo para Senha -->
            <div class="form-group">
              <label for="senha">Senha:</label>
              <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required />
            </div>
            
            <!-- botão para Fazer Cadastro -->
            <div class="form-group">
              <button type="submit" class="btn-login">FAZER CADASTRO</button>
            </div>
          </form>
       </div>
    </main>
</body>
</html>