{% extends 'base.html' %}

{% block content %}
    <section class="decidir-cadastro">
        <h2>Decida o tipo de cadastro</h2>
        <form action="/decidir_cadastro" method="POST">
            <label for="tipo">Eu sou:</label>
            <select id="tipo" name="tipo" required>
                <option value="cidadao">Cidadão</option>
                <option value="ong">ONG</option>
                <option value="empresa">Empresa</option>
            </select>
            <input type="submit" value="Próximo">
        </form>
    </section>
{% endblock %}
