{% extends 'base.html' %}

{% block content %}
    <section class="inicio">
        <h1>Faça parte da onda e adote uma área verde!</h1>
        <p>Além disso, a revitalização desses espaços contribui para um ambiente urbano mais saudável e sustentável, aumentando a qualidade de vida da população.</p>
    </section>
{% endblock %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onda Verde</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="org">
            <div class="logo">
                <img src="../static/img/2-removebg-preview 2.png" alt="logo onda verde">
            </div><!--logo-->
            <nav>
                <a href="">Sobre o projeto</a>
                <a href="">Adote uma muda</a>
                <a href="">Feedbacks</a>
                <div class="bt">
                    <a href="">
                        <button>Acessar a plataforma</button>
                    </a>
                </div><!--bt-->
            </nav>
        </div><!--org-->
    </header>
    <main>
        <section class="principal">
           <div class="org-principal">
            <div class="text">
                <h1>Faça parte da onda e adote sua área verde!</h1>
                <p>Além disso, a revitalização desses espaços contribui para um ambiente urbano mais saudável e sustentável, aumentando a qualidade de vida da população</p>
            </div> <!--text-->
            <a href="#" class="btn-principal"><button>
                Cadastre-se
            </button></a>
           </div><!--org-principal-->
           <img src="../static/img/Dashboard.png" alt="">
        </section>
        <section class="beneficios">
            <div class="org">
                <h2>
                    Por que entrar na onda e adotar uma área verde?
                </h2>
                <div class="cards">
                    <div class="card">
                        <h3>pellentesque. Mauris dignissim bib dui erat nec orci</h3>
                        <p>pellentesque. Mauris dignissim bibendum dui erat nec orci quis m bibendum dui erat Mauris dignissim bibendu lore ipsum.</p>
                    </div>
                    <div class="card">
                        <h3>pellentesque. Mauris dignissim bib dui erat nec orci</h3>
                        <p>pellentesque. Mauris dignissim bibendum dui erat nec orci quis m bibendum dui erat Mauris dignissim bibendu lore ipsum.</p>
                    </div>
                    <div class="card">
                        <h3>pellentesque. Mauris dignissim bib dui erat nec orci</h3>
                        <p>pellentesque. Mauris dignissim bibendum dui erat nec orci quis m bibendum dui erat Mauris dignissim bibendu lore ipsum.</p>
                    </div>
                </div><!--cards-->
            </div>
        </section>
        <section class="desenvolvedoras">

        </section>

    </main>
    <footer>

    </footer>
</body>
</html>