{% extends 'base.html' %}

{% block content %}
<section class="principal">
   <div class="org-principal">
        <div class="text">
            <h1>Faça parte da onda e adote sua área verde!</h1>
            <p>Além disso, a revitalização desses espaços contribui para um ambiente urbano mais saudável e sustentável, aumentando a qualidade de vida da população.</p>
        </div>
        <a href="{{ url_for('cadastro_fisica') }}" class="btn-principal"><button>Cadastre-se</button></a>
   </div>
   <img src="{{ url_for('static', filename='img/Dashboard.png') }}" alt="Dashboard">
</section>

<section class="beneficios">
    <div class="org">
        <h2>Por que entrar na onda e adotar uma área verde?</h2>
        <div class="cards">
            <div class="card">
                <h3>pellentesque. Mauris dignissim bib dui erat nec orci</h3>
                <p>pellentesque. Mauris dignissim bibendum dui erat nec orci quis m bibendum dui erat Mauris dignissim bibendu lore ipsum.</p>
            </div>
            <div class="card">
                <h3>pellentesque. Mauris dignissim bib dui erat nec orci</h3>
                <p>pellentesque. Mauris dignissim bibendum dui erat nec orci quis m bibendum dui erat Mauris dignissim bibendu lore ipsum.</p>
            </div>
            <div class="card">
                <h3>pellentesque. Mauris dignissim bib dui erat nec orci</h3>
                <p>pellentesque. Mauris dignissim bibendum dui erat nec orci quis m bibendum dui erat Mauris dignissim bibendu lore ipsum.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
