{% extends 'base.html' %}

{% block content %}
<section class="principal">
   <div class="org-principal">
        <div class="text">
            <h1>Faça parte da onda e adote sua área verde!</h1>
            <p>Além disso, a revitalização desses espaços contribui para um ambiente urbano mais saudável e sustentável, aumentando a qualidade de vida da população.</p>
        </div>
        <a href="{{ url_for('cadastro_fisica') }}" class="btn-principal"><button>Cadastre-se</button></a>
   </div>
   <img src="{{ url_for('static', filename='img/Dashboard.png') }}" alt="Dashboard">
</section>

<section class="beneficios">
    <div class="org">
        <h2>Por que entrar na onda e adotar uma área verde?</h2>
        <div class="cards">
            <div class="card">
                <h3>1. Contribua para a Sustentabilidade:</h3>
                <p>Adotar uma área verde ajuda a preservar o meio ambiente e promove um planeta mais saudável.</p>
            </div>
            <div class="card">
                <h3>2. Fortaleça a Comunidade:</h3>
                <p>Crie espaços verdes que incentivem atividades comunitárias e a integração social.</p>
            </div>
            <div class="card">
                <h3>3. Combate às Mudanças Climáticas:</h3>
                <p>Plante árvores e ajude a reduzir os impactos das mudanças climáticas.</p>
            </div>
        </div>
    </div>
</section>
<section class="desenvolvedoras">
    <h2>Nossas desenvolvedoras</h2>
    <div class="linha-cards">
        <div class="card">
            <img src="../static/img/ft-jessica.png" alt="">
            <div class="texto-card-dev">
                <h3>Jéssica Beatriz</h3>
                <p>Backend e Documentação - Estudante de Informática Para a Internet no IFRN</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/ft-leticia.png" alt="">
            <div class="texto-card-dev">
                <h3>Leticia Miranda</h3>
                <p>Backend e Documentação - Estudante de Informática Para a Internet no IFRN</p>
            </div>
        </div>
    </div>
    <div class="linha-cards">
        <div class="card">
            <img src="../static/img/ft-paula.png" alt="">
            <div class="texto-card-dev">
                <h3>Paula Braga</h3>
                <p>Design e Frontend - Estudante de Informática Para a Internet no IFRN</p>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/ft-zildate.png" alt="">
            <div class="texto-card-dev">
                <h3>Zildalte Ramos</h3>
                <p>Orientadora - Coordenadora do Projeto Viveiro IFZN e Professora de Artes no IFRN</p>
            </div>
        </div>
    </div>
</section>
<footer>
    
</footer>
{% endblock %}
