<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/login-cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="body-login-cadastro">
    <header class="header-login-cadastro">
        <div class="org">
            <a href="" class="link-header">
                <img src="../static/img/seta-direita 1.png" alt="seta">
                Voltar ao site
            </a>
            <img src="../static/img/2-removebg-preview 2.png" alt="logo Onda Verde" class="logo-header">
        </div><!--org-->
    </header>
    <main class="main-login">
        <div class="flex">
            <div class="text-h1">
                <h1>
                    Juntos, cuidamos do verde para um amanhã melhor. Faça seu login!
                </h1>
            </div><!--text-h1-->
            <div class="container">
                <div class="text-container">
                    <h2>Ainda não possui cadastro?</h2>
                    <div class="textinho">
                        <p>
                            <span>Pessoa Física:</span>  Crie seu perfil pessoal para adotar áreas verdes, participar de atividades comunitárias e contribuir para um planeta mais sustentável.
                        </p>
                        <a href="#">cadastre-se</a>
                    </div><!--textinho-->
                    <div class="textinho">
                        <p>
                        <span>Pessoa Jurídica:</span>  Sua organização deseja apoiar iniciativas ambientais ou colaborar com projetos de impacto verde? Cadastre-se e conecte-se com ONGs e voluntários comprometidos.
                        </p>
                        <a href="#">cadastre sua organização</a>
                    </div><!--textinho-->
                </div><!--text-container-->
                <div class="form">
                    <form action="/login" method="POST">
                      <!-- campo para e-mail -->
                      <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="text" id="email" name="email" placeholder="Digite seu e-mail" required />
                      </div>
                      
                      <!-- campo para senha -->
                      <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required />
                      </div>
                      
                      <!-- botão para fazer login -->
                      <div class="form-group">
                        <button type="submit" class="btn-login">FAZER LOGIN</button>
                      </div>
                    </form>
                  </div><!--form-->              
            </div><!--container-->
        </div><!--flex-->
    </main>
</body>
</html>