<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o projeto</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sobre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-login-cadastro">
        <div class="org">
            <a href="" class="link-header">
                <img src="../static/img/seta-direita 1.png" alt="seta">
                Voltar ao site
            </a>
            <img src="../static/img/2-removebg-preview 2.png" alt="logo Onda Verde" class="logo-header">
        </div><!--flex-->
    </header>
    <main>
        <section class="sobre">
            <div class="org">
                <div class="text-sobre">
                    <h2>Sobre o projeto</h2>
                    <p>O <span>Onda Verde</span> é uma plataforma digital desenvolvida para facilitar a adoção, transformação, revitalização e preservação de áreas verdes urbanas, como praças, parques e jardins. <br> 
                    O projeto visa engajar cidadãos, ONGs e empresas em ações de revitalização ambiental, promovendo o cuidado coletivo com o meio ambiente. Através de uma interface intuitiva, os usuários podem adotar áreas, agendar atividades de manutenção, participar de eventos comunitários e monitorar o impacto positivo de suas ações.</p>
                </div>
                <img src="../static/img/Imagem do WhatsApp de 2024-11-04 à(s) 22.09.40_41868153.png" alt="">
            </div>
        </section>
        <section class="justificativa">
            <div class="org">
                <img src="../static/img/Imagem do WhatsApp de 2024-11-04 à(s) 22.09.41_610e72a9.png" alt="">
                <div class="text-sobre">
                    <h2>Justificativa e Motivação</h2>
                    <p>A crescente degradação das áreas verdes afeta diretamente a qualidade de vida dos habitantes, comprometendo a sustentabilidade urbana e o bem-estar da população. <br>
                    Essas áreas, essenciais para o clima, lazer e biodiversidade, muitas vezes carecem de manutenção adequada. O projeto Onda Verde foi motivado pela necessidade de criar uma solução que envolva a comunidade na preservação ambiental. Ao permitir que cidadãos, ONGs e empresas adotem e cuidem de espaços verdes através de uma plataforma digital, o projeto visa revitalizar esses ambientes, fortalecendo a responsabilidade social e ambiental na cidade.</p>
                </div>
            </div>
        </section>
        <section class="objetivo">
            <h2>Objetivo e Impacto Esperado</h2>
            <div class="cards">
                <div class="card">
                    <h3>Objetivo</h3>
                    <p>
                        Nosso objetivo é promover a preservação, transformação e revitalização das áreas verdes urbanas por meio de uma plataforma digital colaborativa. A iniciativa busca engajar cidadãos na adoção e manutenção de espaços públicos, incentivando a participação comunitária e a criação de uma cultura de sustentabilidade. O projeto visa melhorar a qualidade de vida urbana e fortalecer a consciência ambiental na cidade.
                    </p>
                </div>
                <div class="card">
                    <h3>Impacto Esperado</h3>
                    <ul>
                        <li>
                            Revitalização das áreas verdes urbanas de Natal.
                        </li>
                        <li>
                            Maior engajamento da comunidade e de empresas na preservação ambiental.
                        </li>
                        <li>
                            Aumento da conscientização ecológica e de práticas sustentáveis.
                        </li>
                        <li>
                            Melhoria na qualidade de vida com mais espaços públicos verdes.
                        </li>
                        <li>
                            Fortalecimento de parcerias entre o setor público e privado para a sustentabilidade.
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</body>
</html>